
  
/* Add styles to the form container */
.form-popup {
  max-width: 500px;
  padding: 10px;
  background-color: white;
  position:fixed;
  background: white;
  width: 80%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  border: 2px solid black;
}

.form-content input[type=text], textarea{
  text-align: left;
  width: 96%;
  }

.form-content{
  padding: 10px;
}

/* gray-out background when on edit/create modal*/
.overlay {
  position: fixed; /* Positioning and size */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(128,128,128,0.5); /* color */
  z-index: 9999;
}

/* Set a style for the submit/login button */
.button-container{
  text-align: center;
}


.scrollScriptLogs {
  height: 30%;
  
}

.scriptOutputContainer {
  height: 55%;
}

.scriptViewerContainer {
  height: 90%; 
}