.selectContainer{
  height: 40%;
}

.outputButtons {
  margin: 1%;
}

.runScript {
  height:100%;
}

.Run_Button{
  height: 10%;
}

.runScript .LiveOutput {
    height: 50%;
}

.tab-content, .tab-content .fade{
  height: 100%;
}