body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html{
	height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logoHeader{
	background-color: black;
	width: 100%;
}
.logoHeader img{
	width: 200px;
	height: auto;
}

ul.navTabs{
	display: table;
	width: 100%;
	margin-left: -40px;
}

ul.navTabs li{
	display: table-cell;
    list-style-type: none;
}

ul.navTabs li a{
	color: black;
    font-weight: bold;
    text-decoration: none;
}

.content{
	background-color: #d3d3d3;
}

.trapezoid {
	border-bottom: 40px solid #555;
	border-left: 50px solid transparent;
	border-right: 55px solid transparent;
	height: 0;
	width: 250px;
	background-color: grey;
	display: inline-block;
}

.tab {
	color: #fff;
	background-color: rgb(175,175,175);
	border-radius: 50px 50px 0 0;
	padding: 10px 20px;
	width: auto;
	position: relative;
	text-decoration: none;
	display:inline-block;
  }
