body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html{
	height: 100%;
	width: 100%;

}
button{
	font-size: larger;
	font-weight: bold;
}
body ,#root, .App {
	height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
}

.content{
	background-color: #d3d3d3;
	height:90%;
	min-width: 100vw;
	min-height: 70rem;
}

.title{
	height: 5%;
}

.action-buttons{
	height: 5%;
	margin-left:5%;
}