.scriptLogs {
  width: 90%;
  margin-left: 5%;
  height:100%
}

.body > .LiveOutput{
  margin-top:5%;
}

.scroll {
  height: 80%;
  
}

.ScriptLogsSelect{
  height: 50%;
}

.LiveOutput-ScriptLogs{
  height: 40%;
}